h2 {
  color: #0a4870;
  font-weight: 500;
}

.heroCard {
  display: grid;
  place-items: center;
  height: 80vh;
}
.heroCard h1 {
  margin-top: 2rem;
  font-size: 4rem;
  font-family: "vanilla";
  color: #fff;
}
.heroCard ul {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: fit-content;
  list-style: none;
  padding: 0;
}
.heroCard ul .booking-card {
  position: relative;
  width: 300px;
  height: 450px;
  display: flex;
  flex: 0 0 300px;
  flex-direction: column;
  margin: 20px;
  margin-bottom: 30px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  text-align: center;
  color: #A7727D;
  transition: 0.3s;
}
.heroCard ul .booking-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(10, 72, 112, 0);
  transition: 0.3s;
}
.heroCard ul .booking-card .book-container {
  height: 200px;
}
.heroCard ul .booking-card .book-container .content {
  position: relative;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  transform: translateY(-200px);
  transition: 0.3s;
}
.heroCard ul .booking-card .book-container .content .btn {
  border: 3px solid white;
  padding: 10px 15px;
  background: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3em;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
.heroCard ul .booking-card .book-container .content .btn:hover {
  background: white;
  border: 0px solid white;
  color: #A7727D;
}
.heroCard ul .booking-card .informations-container {
  flex: 1 0 auto;
  padding: 20px;
  background: #f0f0f0;
  transform: translateY(206px);
  transition: 0.3s;
}
.heroCard ul .booking-card .informations-container .title {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.2em;
}
.heroCard ul .booking-card .informations-container .title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  width: 50px;
  margin: auto;
  background: #A7727D;
}
.heroCard ul .booking-card .informations-container .price {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.heroCard ul .booking-card .informations-container .price .icon {
  margin-right: 10px;
}
.heroCard ul .booking-card .informations-container .more-information {
  opacity: 0;
  transition: 0.3s;
}
.heroCard ul .booking-card .informations-container .more-information .info-and-date-container {
  display: flex;
}
.heroCard ul .booking-card .informations-container .more-information .info-and-date-container .box {
  flex: 1 0;
  padding: 15px;
  margin-top: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: white;
  font-weight: bold;
  font-size: 0.9em;
}
.heroCard ul .booking-card .informations-container .more-information .info-and-date-container .box .icon {
  margin-bottom: 5px;
}
.heroCard ul .booking-card .informations-container .more-information .info-and-date-container .box.info {
  color: #b2a596;
  margin-right: 10px;
}
.heroCard ul .booking-card .informations-container .more-information .disclaimer {
  margin-top: 20px;
  font-size: 0.8em;
  color: #7d7d7d;
}
.heroCard ul .booking-card:hover::before {
  background: rgba(10, 72, 112, 0.6);
}
.heroCard ul .booking-card:hover .book-container .content {
  opacity: 1;
  transform: translateY(0px);
}
.heroCard ul .booking-card:hover .informations-container {
  transform: translateY(0px);
}
.heroCard ul .booking-card:hover .informations-container .more-information {
  opacity: 1;
}

@media (max-width: 768px) {
  ul .booking-card::before {
    background: rgba(10, 72, 112, 0.6);
  }
  ul .booking-card .book-container .content {
    opacity: 1;
    transform: translateY(0px);
  }
  ul .booking-card .informations-container {
    transform: translateY(0px);
  }
  ul .booking-card .informations-container .more-information {
    opacity: 1;
  }
}

/*# sourceMappingURL=herocard.css.map */
