* {
    box-sizing: border-box;
}

:root {
    --main-color: #8927E5;
    --background-color: #FEF7FF;
    --black: #201925;
    --secundary-color: #A088B1;
}

body {
    margin: 0;
    padding-top: 56px;
    overflow-x: hidden;
    font-family: "Euclid Circular A";
    background: var(--background-color);
    color: var(--secundary-color);
}

nav {
    position: fixed;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0 20px;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
    color: var(--secundary-color);
    background: var(--background-color);
}

nav span {
    color: var(--background-color);
    font-size: 22px;
}

nav div {
    display: flex;
    gap: 8px;
    margin-left: auto;
}

section {
    background: var(--background-color);
    padding: 20px;
}

header {
    display: flex;
    align-items: center;
    height: 120px;
    margin: 0;
    padding: 0 20px;
    background: var(--background-color);
    font-weight: 400;
    color: var(--background-color);
}

#filtroTitle {
    color: var(--secundary-color);
}

.filters {
    display: grid;
    place-items: center;
    z-index: 1;
    height: 10rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /* display: inline-block; */
}

.filters h2 {
    width: 100%;
    color: #f9f9f9;
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    margin: 20px 0 0px 0;
}

.filters .filt {
    display: grid;
    width: fit-content;
    height: fit-content;
    color: var(--background-color);
    grid-template-columns: 1fr 3fr 1fr;
}

.filters h4 {
    font-size: 1rem;
    margin-bottom: 7px;
}

.filters .switch_4 {
    margin-left: 2px;
}

.filters label {
    display: inline-block;
    text-align: center;
    margin-bottom: 80px;
    height: 26px;
    font-size: 14px;
}

.filters input {
    width: auto;
    margin: 0;
    accent-color: var(--main-color);
}

.containerSelect{
    position: relative;
}

.select{
    position: relative;
    width: 120px;
    height: 35px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    text-transform: capitalize;
    color: #fff;
    background: #292929;
    text-align: left;
    padding: 0 15px;
    font-size: 16px;
    cursor: pointer;
}

.select::after{
    content: '';
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    width: 6px;
    height: 6px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.select:hover{
    background: #222222;
}

.select.active{
    background: #222222;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.options{
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: fit-content;
    background: rgba(0, 0, 0, 0.6);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    display: none;
}

.options.active{
    display: block;
}

.options .item{
    color: #fff;
    text-transform: capitalize;
    width: 100%;
    height: 30px;
    padding: 0 15px;
    line-height: 30px;
    cursor: pointer;
}

.options .item.active{
    background: #292929;
}

.grid {
    flex: 1 1 auto;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 15vmax;
}

.grid-item {
    padding: 20px;
    background: var(--secundary-color);
}