* {
    box-sizing: border-box;
}

/* https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/1200px-White_check.svg.png 
  */

.check-box-group {
    display: flex;
    flex-direction: row;
    /* margin: 30px; */
}

.custom-checkbox {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 20px 30px 0 30px;
}

.custom-checkbox .label {
    font-size: 1.6em;
}

/* .check-box-group select {
    height: 26px;
    color: #FEF7FF;
    border: 2px solid #222;
    border-radius: 5px;
    background: #222;
} */

.custom-checkbox .checkmark {
    width: 20px;
    height: 20px;
    border: 2px solid #222;
    display: inline-block;
    border-radius: 3px;
    background: #222 url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/1200px-White_check.svg.png) center/1250% no-repeat;
    transition: background-size 0.2s ease;
}

.custom-checkbox input:checked+.checkmark {
    background-size: 60%;
    transition: background-size 0.25s cubic-bezier(0.7, 0, 0.18, 1.24);
}

.custom-checkbox input {
    display: none;
}